.blog-form{
    margin: 100px 5%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(60, 64, 67, 0.123) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}



input[type='file']{
    display: none;
}
.pick-upload-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px ;
}
.choose-image,.upload-button{
    padding:10px 25px;
    font-weight: bold;
    text-decoration:none;
    color: white;
    /* min-width: 160px; */
    white-space: nowrap;
    border-radius: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgba(255, 136, 0, 0.897);
}
.upload-button{
    outline: none;
    border: none;
    margin-left: 15px;
}
.file-progress-container{
    margin: 10px 0;
}

progress{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    border:none;
}
.progress-div{
    display: flex;
    margin-left: 20px;
    border: 0px;
    align-items: center;
    border-radius:50px ;
    overflow: hidden;
}
.progress-container{
    display: flex;
    align-items: center;
}

::-webkit-file-upload-button{
    color: #fff;
    background-image:linear-gradient(-90deg, rgba(255, 192.01810598373413, 0, 1) 0%,rgb(246, 109, 17) 100%) ;
    outline: none;
    border: none;
}

.blog-title-input , .blog-description-input{
    margin-top: 15px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: solid rgba(216, 216, 216, 0.692) 2px;
    transition: border 100ms;
}
.blog-title-input:focus, .blog-description-input:focus{
    outline: none;
    font-weight: 600;
    border-bottom: solid orange 3px;
}

.btn-blog-post{
    margin: 10px 0px;
    padding: 10px 25px;
    font-family: Roboto;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgb(255, 136, 0);
}

.ql-toolbar.ql-snow{
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin:0px;
    margin-top: 15px;
    border: none;
}
.ql-formats{
    font-size: 18px;
    font-family: Roboto;
}

.ql-picker-item{
    color: rgb(56, 55, 54);
}

.ql-toolbar{
    margin: 0px;
    background-image:linear-gradient(-90deg, rgba(255, 192.01810598373413, 0, 1) 0%,rgb(246, 109, 17) 100%) ;
}
.ql-toolbar .ql-stroke{
    fill: none;
    stroke: #fff;
}
.ql-toolbar .ql-fill{

    fill: #fff;
    stroke: none;

}



.ql-toolbar .ql-picker{
    color: #fff;
}
.ql-editor{
    min-height: 300px
}
div.ql-container.ql-snow{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.uploaded-blog-image{
    width: 80px;
    height: 40px;
    margin-left: 20px;
    white-space: nowrap;
    border: none;
    border-radius:5px ;
    overflow: hidden;
}