.blog-page-container{
    margin-top: 70px;
}

.blog-flex{
    background-image:linear-gradient(0deg, rgba(255, 191, 0, 0) 0%,rgba(255, 137.7000054717064, 0, 1) 100%) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 450px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}
.blog-flex-image{
    margin: 20px;
    width:50%;
    display: flex;
    justify-content: center;
}

.blog-flex-text{
    font-size: 30px;
    padding-bottom:40px ;
    color: white;
}

.create-blog{
    font-family: Roboto;
    font-weight: bold;
    align-self: center;
    margin-left: 100px;
}
.create-blog-link{
    /* margin-right: 50px; */
    margin-top: 30px;
    padding:10px 15px;
    font-weight: bold;
    text-decoration:none;
    color: white;
    border-radius: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgba(255, 136, 0, 0.897);
}
.create-blog-link:hover{
    color: whitesmoke;
}

.blog-container{
    display: grid;
    padding: 50px 0px;
    margin: 0px auto;
    grid-template-columns: repeat(3,1fr);
    width: 95%;
}