@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 
.container-fluid{
    margin-top: 200px;
}
.container-fluid.row{
    padding-top: 6rem;
}

.overflow{
    overflow: hidden;
}

.course-card-img-top{
    transform: scale(1);
    transition: transform 0.7s ease;
}

.course-card-img-top:hover{
    transform: scale(1.1);
}
  
  
.course-card {
    background: #fff;
    width: 20em;
    border-radius: 0.6em;
     margin: 1em; 
    overflow: hidden;
    cursor: pointer;
    /* box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03); */
    transition:all ease 200ms;
  }
  
.course-card:hover {
    transform: scale(1.03);
    /* box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02); */
  }
  
.course-card img {
    width: 100%;
    object-fit: cover;
  }
  
  
.course-card p {
    color: rgb(119, 119, 119);
  }

.course-card-body{
  background-image: linear-gradient(50deg,rgb(255, 123, 0) 30%,rgb(248, 190, 81));
  padding-bottom: 20px;
  padding-top: 5px;
  padding-left: 8px;
}

.course-card-title{
  text-align: left;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  color: #e5e5e5;
  
}

/*
.d-flex{
  display: flex;
  flex-direction: row;
}
*/



.course-card-body a:link {
  text-decoration: none;
}

.course-card-body a:visited {
  text-decoration: none;
  color: rgb(255, 233, 200);
}

.course-card-body a:hover {
  text-decoration: none;
  color: white;
  transition-duration: 150ms;
}
