
.dashboard-conatiner{

    display: grid;
    grid-template-columns: 1fr 3fr;
}
.user-dashboard-blog-container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: scroll;
    margin-top: 70px;
}
.side-bar-container{
    width: 85%;
    /* height: 700px; */
    margin-top:70px;
    background-color: rgba(255, 136, 0, 0.897);
    display: flex;
    flex-direction: column;
    padding-top:20px ;
}

.sidebar-item{
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
    padding: 10px;
}

.sidebar-item:hover{
    background-color: rgb(255, 255, 255);
    color: rgba(255, 136, 0, 0.897);
}