.login-container, .signup-container{

    width: 600px;
    /* margin-top: -6px; */
    margin: 100px auto;
    background-color: rgb(255, 247, 223);
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.123) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 25px;
    z-index: 0;
}

.signup-wraper{
    justify-content: flex-end;
    display: flex;
    margin: 20px 0px;
    padding: 5px 15px;
}
.redirector-buttons-container{

    display: flex;
    justify-content: space-between;
}
.redirector-buttons{

    background-color: rgba(255, 136, 0, 0.897);
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 50%;
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
    /* box-shadow: 0 2px 5px 2px rgb(206, 202, 202); */
}

.redirector-buttons:hover{
    background-color: rgb(221, 215, 215);
    color: white;
}
.active-login{
    background-color: rgb(255 247 223);
    color: rgba(255, 136, 0, 0.897);
    /* border-bottom: 2px solid rgba(255, 136, 0, 0.897); */
}
.active-login:hover{
    border-bottom: 2px solid rgba(255, 136, 0, 0.897);
}

.login-form{
    margin: 20vh auto;
    width: 60%;
    /* margin-top: 23vh; */
    /* border: 3px solid #73AD21; */
    display: flex;
    flex-direction: column;
}

.signup-text{
    margin-right:5px;
}

.input-field{
    border: solid rgba(235, 235, 235, 0.767) 0.5px;
    padding: 15px;
    color: rgb(85, 85, 85);
    border-radius: 30px;
    margin: 15px 0px;
    background-color: rgb(255, 255, 255);
}

.input-field:focus{
    outline: none;
}

.input-field:active{
    font-weight: bold;
    color: rgb(85, 85, 85);
}

.signup-link:any-link {
    text-decoration: none;
    color: rgba(253, 114, 90, 0.952);
    font-weight: bold;
}


.form-btn{
    font-weight: bold;
    color: white;
    padding: 15px;
    background-image:linear-gradient(-90deg, rgba(255, 192.01810598373413, 0, 1) 0%,rgba(255, 137.7000054717064, 0, 1) 100%) ;
    border:none;
    margin-top: 1em;
    border-radius: 30px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}



/********************************CSS for Signup******************************************/


/* .signup-container{

    width: 600px;
    box-shadow: rgba(60, 64, 67, 0.123) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: 90px auto;
    border-radius: 25px;
    background-color: rgb(255, 247, 223);
    overflow: hidden;
    z-index: 0;
} */

.signin-wraper{
    justify-content: flex-end;
    display: flex;
    margin: 20px 0px;
    padding: 5px 15px;
}

.signup-form{
    margin: 10vh auto;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.signin-text{
    margin-right:5px;
}

.signin-link:any-link {
    text-decoration: none;
    color: rgba(253, 114, 90, 0.952);
    font-weight: bold;
}

.signin-link:any-link {
    text-decoration: none;
    color: rgba(253, 114, 90, 0.952);
    font-weight: bold;
}
