@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

.tutorials-container{
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0.37);
}

.create-tutorial{
    display: flex;
    justify-content: flex-end;
    right: 0%;
}
.create-tutorial-link{
    margin-right: 50px;
    margin-top: 30px;
    padding:10px 15px;
    font-weight: bold;
    text-decoration:none;
    color: white;
    border-radius: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgba(255, 136, 0, 0.897);
}
.create-tutorial-link:hover{
    color: whitesmoke;
}

.tutorial-card-container{
    display: flex;
    justify-content: center;
    margin:10px 15px;
    width:250px;
    height:100px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* background-image: url(../assets/board.png); */
    background-color: rgba(255, 136, 0, 0.897);
    background-size: 100% 100%;
    cursor: pointer;
    transition: transform 60ms ease-in-out;
}
.tutorial-card-container:hover{
    transform: scale(1.05,1.05);
}

.tutorials-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

a{
    text-decoration: none;
}
.tutorial-title{
   
    height: 100%;
    font-weight: bold;
    font-size: 23px;
    font-family: 'Walter Turncoat', cursive;
    color: rgba(255, 136, 0, 0.897);
    margin: 0px;
    align-self: center;
}

