.tutorials-container{
    margin-top: 70px; 
}

.create-tutorial{
    display: flex;
    justify-content: flex-end;
    right: 0%;
}
.create-tutorial-link{
    margin-right: 50px;
    margin-top: 30px;
    padding:10px 15px;
    font-weight: bold;
    text-decoration:none;
    color: white;
    border-radius: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgba(255, 136, 0, 0.897);
}
.create-tutorial-link:hover{
    color: whitesmoke;
}

.tutorial-card-container{
    display: flex;
    justify-content: center;
    margin:10px 15px;
    width:250px;
    height:100px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background: rgba(255, 136, 0, 0.897);
    cursor: pointer;
}

.tutorials-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.tutorial-img{
    align-self: center;
}
