body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track{
  background-color: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(201, 199, 199);
}
/* Manually Added */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 0, 0, 0);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;

  background-color: rgb(201, 199, 199);
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  padding: 0px 15px;
  margin: 0 auto;
}
@media (max-width: 2560px) and (min-width: 1201px) {
  .container {
    max-width: 1170px;
 }
  .container-fluid {
    max-width: 100%;
 }
}
@media (max-width: 1200px) and (min-width: 993px) {
  .container {
    max-width: 1170px;
 }
  .container-fluid {
    max-width: 100%;
 }
}
@media (max-width: 992px) and (min-width: 769px) {
  .container {
    max-width: 1170px;
 }
  .container-fluid {
    max-width: 100%;
 }
}
@media (max-width: 768px) and (min-width: 577px) {
  .container {
    max-width: 100%;
 }
  .container-fluid {
    max-width: 100%;
 }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
 }
  .container-fluid {
    max-width: 100%;
 }
}

.mobileView{
  display: none;
}

@media (max-width: 768px) {
  .App{
    display: none;
  }
  .mobileView{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .mobileView h1{
    text-align: center;
    padding: 0px 1rem;
  }
}